@import "variables";

.table-items{
    .text2{
        h1{
            color: #000;
            font-family: inherit;
            font-size: 1.35rem;
            font-style: normal;
            font-weight: 800;
            line-height: 1.5625rem; /* 125% */
            letter-spacing: -0.03125rem;
            margin-top: 1.7em!important;
        }

        p{
            color: #040404;
            font-family: inherit;
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.09375rem; /* 109.375% */
            letter-spacing: -0.03125rem;
            margin-top: 1em!important;
            margin-bottom: 1em!important;
        }
    }
}

.payment-status{
    margin: 0em 3em;
    margin-top: 1.5em!important;
    hr{
        width: 4.625rem;
        height: 0rem;
        background-color: $black;
        border: 1px solid $black;
        opacity: 1;
        outline: none;
        border-radius: 1rem;
    }
    .item{
        .circle-no-fill{
            width: 15px;
            height: 15px;
            background-color: transparent;
            border: 1.5px solid $green;
            border-radius: 50%;
        }

        .circle-fill{
            width: 15px;
            height: 15px;
            background-color: $green;
            border-radius: 50%;
        }

        .text{
            color: #000;
            font-family: inherit;
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.25rem; /* 153.846% */
            letter-spacing: -0.03125rem;
            margin-top: .2em;
        }
    }
}
